{
  "presets": [
    ["env", {
      "es2015": { "modules": false }
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "styled-components",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-export-extensions"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "test": {
      "plugins": [
        "dynamic-import-node",
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        ["styled-components", {
          "displayName": false
        }]
      ]
    },
    "targets": {
      "browsers": ["last 2 versions"]
    },
    "loose": true
  }
}
